:root {
  --roxo-claro: #A88BEB;
  --roxo-principal: #6A4C93;
  --roxo-escuro:#331f4a;
  --preto: #333333;
  --amarelo: #FFD166;
  --branco: #F9F9F9;
  --sombra: rgba(0, 0, 0, 0.1);
  --font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex-grow: 1;
  max-width: 1100px;
  margin: 50px auto 80px auto;
  padding: 0 20px;
}

.courses-title {
  color: var(--roxo-principal);
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.2rem;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.course-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(111, 66, 193, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover,
.course-card:focus {
  transform: translateY(-8px);
  box-shadow: 0 8px 30px rgba(249, 188, 96, 0.5);
  outline: none;
}

.course-card h3 {
  color: var(--roxo-escuro);
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.course-card p {
  color: var(--roxo-principal);
  flex-grow: 1;
  line-height: 1.4;
  margin-bottom: 20px;
}

.course-card a {
  display: none;
  align-self: flex-start;
  background: #f9bc60;
  color: var(--roxo-escuro);
  font-weight: 700;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.course-card a:hover,
.course-card a:focus {
  background: #e0a63e;
  box-shadow: 0 0 8px #e0a63e;
  outline: none;
}

.call-to-action {
  margin: 50px 0;
  text-align: center;
  background: var(--branco);
  padding: 30px 20px;
  border-radius: 12px;
}

.call-to-action h2 {
  color: var(--roxo-escuro);
  font-size: 2rem;
  margin-bottom: 15px;
}

.call-to-action p {
  color: var(--roxo-escuro);
  font-size: 1.1rem;
  margin-bottom: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action a {
  background: var(--roxo-principal);
  color: var(--branco);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
}

.call-to-action a:hover {
  background: #5a3a7d;
  box-shadow: 0 0 12px rgba(106, 76, 147, 0.5);
  transform: translateY(-3px);
}

@media screen and (max-width: 850px) {

  .courses-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {

  .courses-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}