:root {
  --roxo-claro: #cdb4db;
  --roxo-menos-claro: #3C096C;
  --roxo-principal: #6a4c93;
  --roxo-escuro: #10002B;
  --roxo-menos-escuro: #1f0939;
  --lilas: #9D4EDD;
<<<<<<< HEAD
  --logo: #b287f5;
=======
>>>>>>> b678fef340ef687ae0593389fbbbc3cc0b2a6506
  --branco: #ffffff;
  --sombra: rgba(111, 66, 193, 0.2);
}

body {
  background: linear-gradient(135deg, #3C096C 0%, #240046 50%, #3C096C 100%);
}
<<<<<<< HEAD
=======

>>>>>>> b678fef340ef687ae0593389fbbbc3cc0b2a6506
main {
  max-width: 800px;
  min-height: 85vh;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}

.textoPag {
  font-size: 2.2rem;
  color: var(--branco);
  margin-bottom: 30px;
}

.quiz-container {
  background: var(--roxo-escuro);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(111, 66, 193, 0.15);
}

.question {
  font-size: 1.2rem;
  color: var(--branco);
  margin-bottom: 20px;
}

.options button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--roxo-menos-claro);
  color: var(--branco);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.options button:hover {
  background-color: var(--roxo-menos-claro);
  box-shadow: 0 0 10px var(--roxo-claro);
}

.result {
  font-size: 1.1rem;
  color: #4a3a60;
  margin-top: 30px;
  font-weight: bold;
}