main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.principal {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 4rem;
    max-width: 1280px;
    margin-inline: 100px;
    padding-left: 1.25rem;
    border-bottom: 1px solid #ffffff0c;
}

.principal_esquerdo {
    flex: 1;
}

.principal_direito {
    flex: 1;
}

.principal_titulo {
    font-size: 2rem;
    font-weight: 300;
    color: #f3f3f3;;
}

.principal_descricao {
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 300;
    line-height: calc(1em + 0.5rem);
    max-width: 55ch;
    color: #f3f3f3;
}

.principal_imagem {
    max-width: 300px;
    padding-left: 100px;
}

.novidadesSlider h1 {
    color: #d29cf7bd;
    margin-left: 100px;
    padding-left: 1.25rem;
    margin-top: 1vw;
}

.novidadesSlider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 1rem 5%;
}

.novidadesSlider .card {
    background-color: linear-gradient(to right, rgb(47, 7, 73), rgb(43, 7, 40), #010118)cf7bd;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
    color: white;
 }

.novidadesSlider .card:hover{
    box-shadow: 0 10px 20px #d29cf7bd;
}

 .card h2{
    padding-bottom: 0.5rem;
    font-weight: bold;
 }