<article>
    <!-- Container VLibras:
             - plugin de Libras (Língua Brasileira de Sinais) para tornar o conteúdo acessível
             - a inclusão do script e a instanciação no fim do documento ativam o widget -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <!-- Overlay possivelmente usado para efeitos visuais quando o widget/menu estiver ativo -->
    <div class="overlay"></div>
</article>